<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body width="100%">
    <div style="margin-left: 20px">
        <h1>Fluxos</h1>
        <br />
        <table>
            <tr>
                <td style="width:50px">#</td>
                <td>Status</td>
            </tr>
        {% for f in object_list  %}
            <tr>
                <td><a href="{% url 'fluxo-form' f.id %}">{{f.id}}</a></td>
                <td>{{f.status.label}}</td>
            </tr>
        {% endfor %}

        </table>

        <br />
        <form method="POST">
            {% csrf_token %}
            Simular Usuário: <select name="usuario" style="min-width: 50px" onchange="this.form.submit()">
            {% for u in usuarios %}
                <option value={{u.id}} {% if u.selected %}selected{% endif %}>{{u.first_name}}</option>
            {% endfor %}
            </select>
        
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>